.panel .album-image {
    vertical-align: top;
}

.panel .album-description {
    position:absolute;
    top:0;
    margin-left: 100px;
    padding: 10px 15px;
}

.album-image img {
    border-top-left-radius:3px 3px;
    border-bottom-left-radius:3px 3px;
}

.album-description p {
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 1;
}

.album-description a {
    font-size: 13px;
    line-height: 1;
}

h2.active{
    color: #428BCA;
}
