.container{
    display:table;
    width:100%;
    height: inherit;
}

.centered-content{
    margin-right: auto;
    margin-left: auto;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.inline-blocks-container{
    font-size: 0;
}

.section-title {
    color: white;
    font-size: 40px;
    margin: 10px 10px 10px 0px;
    background-color: #428BCA;
}

.section-title h3 {
    margin: 10px;
}

.section-container {
    position: relative;
    margin: 10px;
}

.information-container {
    margin: 0px 10px 0px 10px;
    display: inline-block;
}

.image-container {
    margin: 0px 10px 0px 10px;
    display: inline-block;
}

.image-list ul li {
    display: inline-block;
}