.login-container {
	background-color: #428BCA;
	height: 100%;
	padding-top: 80px;
}

.login-panel{
	background-color: #fff;
	border: 1px solid white;
	margin: 0 auto;
	width: 300px;
	border-radius: 5px;
}

.login-header {
	padding: 30px;
	background-color: #aaa;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.login-body {
	padding: 40px;
	padding-bottom: 60px;
}


.login-container button {
	color: #fff;
	background-color: #5cb85c;
	float: right;
	border-radius: 3px;
	line-height: 21px;
	padding: 8px 15px;
	display: inline-block;
	margin-bottom: 0;
	font-size: 14px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	border: 1px solid #4cae4c;
}

.login-container input{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 5px;
}

.login-container h4 {
	margin-bottom: 15px;
	text-align: center;
}

.login-container h4.error {
	color: darkred;
}

.login-container img{
	max-width: 100%;
}
