html, body {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

header {
    min-height: 60px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.header-left {
    position: absolute;
    top:0;
    left:0;
    min-height: 60px;
    border-right: 1px solid rgba(255,255,255,0.14);
    background-color: rgba(0,0,0,0.03);
    width: 230px;
    padding: 14px 15px;
    background-color: #428BCA;
}

.header-right {
    margin-left: 230px;
    min-height: 60px;
    padding: 14px 15px;
    background-color: #428BCA;
}

.left-menu {
    width: 230px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10px;
}

.left-menu .nav {
    border-bottom: 1px solid #e7e7e7;
    margin-top: 10px;
    max-width: 230px;
}


.left-menu .nav li {
    margin: 0 1px 0 0;
    font-size: 14px;
    font-weight: 500;
    border-top: 1px solid #e7e7e7;
}
.left-menu li a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #555;
    font-size: 15px;
    transition: background-color 0.2s ease-out 0s;
}


@media screen and (max-width: 1024px){
    .left-menu  {
        width: 150px;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 1024px) {
    .left-menu .nav {
        width: 130px;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 1024px){
    .header-left  {
        width: 100px;
        z-index: 1000;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 1024px){
    .header-right  {
        margin-left: 100px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .left-menu{
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .left-menu {
        display: none;
    }
}


@media screen and (max-width: 1024px){
    .main-content .section-header  {
        margin-left: 0px;
    }
}

@media screen and (max-width: 1024px){
    .main-content  {
        margin-left: 0px;

    }
}

@media screen and (max-width: 1024px){
    .wrapper:before  {
        width: 0px;
        margin-left: 0px;
    }
}


.left-menu li.active a {
    color: #fff;
    background-color: #428bca;
}
.left-menu li.active i {
    color: #fff;
}

.left-menu a:hover, .left-menu a:focus, .left-menu a:active {
    background-color: #f7f7f7;
}

.left-menu a i {
    width: 16px;
    margin-right: 5px;
    color: #428bca;
    font-size: 15px;
    top: 1px;
    position: relative;
    text-align: center;
}

#left-hand-side-menu{
    display:inline-block;
    min-height: 600px;
    border-right: 1px solid rgba(255,255,255,0.14);
    background-color: rgba(0,0,0,0.03);
}

.left-menu-margin{
    margin-left: 270px;
}

.search-container {
    position: relative;
    max-width: 300px;
}

.search-container .search {
    width: 100%;
    border: 0;
    border-radius: 50px;
    padding-left: 35px;
    padding-right: 15px;
    height: 32px;
    font-size: 13px;
}

.search-container:before {
    position: absolute;
    top: 7px;
    left: 12px;
    font-family: 'FontAwesome';
    content: '\f002';
    color: #666;
}
.search-container .search:focus {
    outline: 0;
}

.user-menu {
    position: absolute;
    top:0;
    right:0;
    padding-top: 7px;
    padding-right: 15px;
    color: #fff;
}


.user-menu img {
    border-radius: 50%;
    width: 45px;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #5cb85c;
    padding: 2px;
    background-color: #eee;
    margin-right: 5px;
}

.user-menu a {
    color: #fff;
    font-family: "Enriqueta", serif;
}

.user-menu a:hover {
    text-decoration: underline;
    color: #eee;
    cursor: pointer;
}

.user-menu a.logout {
    padding: 0 10px;
}

.user-menu .user-details {
    display: inline-block;
    font-weight: bold;
    font-family: "Enriqueta", serif;

}

.left-menu .user-menu {
    position: relative;
    color: #262626;
    margin-left: 15px;
    padding-top:0;
}