<div class="section-header">
    <div class="icon">
        <i class="fa fa-list"></i>
    </div>
    <h2>Playlists</h2>
</div>

<div class="grid-50 tablet-grid-50" ng-repeat="playlist in playlists">
    <div class="panel" data-playlist-id="{{playlist.id}}">
        <div class="playlist-image"><img ng-src="{{playlist.tracks[0].artworkUrl100}}"/></div>
        <div class="playlist-description">
            <a href="/playlists/{{playlist.id}}">{{playlist.name}}</a>
            <p>Author: <span class="text-emphasis">{{playlist.owner.name}}</span></p>
            <p>Number of tracks: <span class="text-emphasis">{{playlist.tracks.length}}</span></p>
        </div>
        <div class="playlist-actions btn-group pull-right">
            <i class="fa fa-play-circle-o"></i>
            <i class="fa fa-remove"></i>
        </div>
    </div>
</div>
        