<div class="grid-container">
    <div class="grid-100">
        <h2>Search</h2>
        <form name="searchForm" ng-submit="search()">
            <input type="text" ng-model="queryString" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 300, 'blur': 0} }" required>
            <select ng-model="selectedOption" ng-options="option for option in searchOptions">
            </select>
            <button type="submit" class="btn" ng-disabled="searchForm.$invalid">search</button>
        </form>
    </div>

    <div ng-if="resultArtists.length == 0 && resultAlbums.length == 0 && resultTracks.length == 0 && resultUsers.length == 0">
        Aucun résultat de recherche a afficher.
    </div>

    <div>
        <div class="grid-100" style="padding:0">
            <div ng-if="resultArtists.length != 0">
                <h2>Artists</h2>
                <artistlist data="artistlist"></artistlist>
            </div>
        </div>
        <div class="grid-100" style="padding:0">
            <div ng-if="resultAlbums.length != 0" ng-style="albumlist.height">
                <h2>Albums</h2>
                <albumlist albums="resultAlbums"></albumlist>
            </div>
        </div>
        <div class="grid-100" style="padding:0">
            <div ng-if="resultTracks.length != 0">
                <h2>Tracks</h2>
                <tracklist data="tracklist" ></tracklist>
            </div>
        </div>

        <div class="grid-100" style="padding:0">
            <div ng-if="resultUsers.length != 0">
                <h2>Users</h2>
                <userslist users="resultUsers" ></userslist>
            </div>
        </div>
    </div>
</div>

