<div class="grid-container">
    <div class="grid-100">
        <h2>Search</h2>
        <form name="searchForm" ng-submit="search()">
            <input type="text" ng-model="queryString" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 300, 'blur': 0} }" required>
            <select ng-model="selectedOption" ng-options="option for option in searchOptions">
            </select>
            <button type="submit" class="btn" ng-disabled="searchForm.$invalid">search</button>
        </form>
    </div>

    <div>
        <div class="grid-100" style="padding:0">
            <div id="artists-result" ng-hide="resultArtists.length == 0">
                <artistlist data="artistlist"></artistlist>
            </div>
        </div>
        <div class="grid-100" style="padding:0">
            <div id="albums-result" ng-hide="resultAlbums.length == 0" ng-style="albumlist.height">
                <albumlist data="albumlist"></albumlist>
            </div>
        </div>
        <div class="grid-100" style="padding:0">
            <div id="tracks-result" ng-hide="resultTracks.length == 0">
                <tracklist data="tracklist" ></tracklist>
            </div>
        </div>
    </div>
</div>

