<div class="section-header">
    <div class="icon">
        <i class="fa fa-group"></i>
    </div>
    <h2>Artist: {{artist.artistName}}</h2>
</div>

<div class="grid-container">
    <div class="grid-33">
        <div class="image-container">
            <img ng-src="{{artist.artistImage}}"/>
        </div>
        <div class="information-container">
            <ul>
                <li>Name: <span class="text-normal">{{artist.artistName}}</span></li>
                <li>Genre: <span class="text-normal">{{artist.primaryGenreName}}</span></li>
            </ul>
            <a href="https://itunes.apple.com/ca/artist/the-beatles/id136975"
               target="itunes_store"
               style="display:inline-block;
                       overflow:hidden;
                       background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_itunes-lrg.png) no-repeat;
                       width:110px;
                       height:40px;
                       @media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_itunes-lrg.svg);}"></a>
        </div>
    </div>
    <div class="grid-66">
        <albumlist data="albumList"></albumlist>
    </div>
</div>
{{artist.biography}}