<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h2>Search</h2>
<input type="text" ng-model="queryString">
<select ng-model="selectedOption" ng-options="option for option in searchOptions">
</select>
<button class="btn" ng-click="search()">search</button>

<div id="artists-result" ng-hide="resultArtists.length == 0" style="height:150px">
    <h3>Artists</h3>
    <artistlist data="artistlist"></artistlist>
    <!--<div class="grid-33 tablet-grid-33" ng-repeat="artist in resultArtists" >
        <div class="panel">
            <div class="album-description">
                <p class="text-strong"><a ui-sref="private.artist({artistId: artist.artistId})">{{artist.artistName}}</a></p>
            </div>
       </div>-->
    </div>
</div>

<div id="albums-result" ng-hide="resultAlbums.length == 0" ng-style="albumlist.height">
    <h3>Albums</h3>
    <albumlist data="albumlist"></albumlist>
</div>

<div id="tracks-result" ng-hide="tracklist.tracks.length == 0">
    <h3>Tracks</h3>
    <tracklist data="tracklist" ></tracklist>
</div>
</body>
</html>