<div class="section-header">
    <div class="icon">
        <i class="fa fa-list"></i>
    </div>
    <h2>My playlists</h2>
    <p ng-hide="myPlaylists.length > 0">You don't have any playlist.</p>
</div>

<div class="grid-container">
    <div class="grid-50 tablet-grid-50" ng-repeat="playlist in myPlaylists">
        <playlist-panel playlist="playlist"></playlist-panel>
    </div>
    <div class="grid-50 tablet-grid-50">
        <div class="panel">
            <div id="new-playlist-button">
                <i class="fa fa-plus-square-o clickable" ng-click="createNewPlaylist()"></i>
            </div>
        </div>
    </div>
</div>

<div class="section-header">
    <div class="icon">
        <i class="fa fa-list"></i>
    </div>
    <h2>Other playlists</h2>
</div>

<div class="grid-container">
    <div class="grid-50 tablet-grid-50" ng-repeat="playlist in otherPlaylists">
        <playlist-panel playlist="playlist"></playlist-panel>
    </div>
</div>
