<div class="modal-header">
    <h2 class="modal-title">Add songs to Playlists</h2>
</div>
<div class="modal-body">
    <ul>
        <!--li ng-repeat="playlist in playlists"-->
            <!--select ng-model="selectedPlaylist.id">
                <option ng-repeat="playlist in playlists" value="{{playlist.id}}">{{playlist.name | limitTo:50}}</option>
            </select-->

        <select ng-model="selectedPlaylist.playlist" ng-options="playlist.name for playlist in playlists | orderBy: 'name'">
            <option value="">-- choose playlist --</option>
        </select>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="confirm()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>