<div class="section-header">
    <div class="icon">
        <i class="fa fa-music"></i>
    </div>
    <h2>Album: {{album.collectionName}}</h2>
</div>

<div class="grid-container">
    <div class="grid-33">
        <div class="information-container">
            <div class="image-container">
                <img ng-src="{{album.artworkUrl100}}"/>
            </div>
            <ul>
                <li>Title: <span>{{album.collectionName}}</span></li>
                <li>Artist: <span>{{album.artistName}}</span></li>
                <li>Genre: <span>{{album.primaryGenreName}}</span></li>
                <li>Release date: <span>{{album.releaseDate}}</span></li>
                <li><span>{{album.trackCount}} tracks</span></li>
            </ul>
            <a href="{{album.collectionViewUrl}}"
               target="itunes_store"
               style="display:inline-block;
                       overflow:hidden;
                       background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_itunes-lrg.png) no-repeat;
                       width:110px;
                       height:40px;
                       @media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_itunes-lrg.svg);}"></a>
        </div>

    </div>
    <div class="grid-66">
        <table>
            <thead>
            <tr>
                <th width="100px">Track #</th>
                <th>Name</th>
                <th>length</th>
                <th>select all:</th>
                <th> <input type="checkbox" ng-click="toggleSelection(!allSelected); allSelected = !allSelected;"></th>
                <th> </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="track in tracks">
                <td>{{track.trackNumber}}</td>
                <td>{{track.trackName}}</td>
                <td>{{track.time.format()}}</td>
                <td><i class="fa fa-play-circle-o"></i> <span class='hide-on-mobile'>play</span></td>
                <td><input type="checkbox" ng-model="track.selected"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <button ng-click="addSelectedToPlaylist()">Add selected track to play list</button>
    <button ng-click="showModal()"></button>
</div>
