<div id="playlist" class="row" ng-repeat="playlist in playlists">
    <div class="col-md-4 playlist" data-playlist-id="{{playlist.id}}">
        <div class="panel-heading">
            <h3 class="panel-title">{{playlist.name}}</h3>
            <div class="btn-group pull-right">
                <i class="fa fa-play-circle-o"></i> <span class='hide-on-mobile'>play</span>
            </div>
        </div>
        <div class="panel-body">
            <ul>
                <li>Author: {{playlist.owner.name}}</li>
                <li>Number of tracks: {{playlist.tracks.length}}</li>
            </ul>
        </div>
    </div>
</div>
        