<div class="login-container">
    <div class="login-panel">
        <div class="login-header">
            <img src="./img/ubeat-logo.png" />
        </div>
        <div class="login-body">
            <h4>Sign up to UBeat</h4>
            <h4 class="error" ng-show="error">{{error}}</h4>
            <form>
                <div>
                    <input type="text" class="form-control" placeholder="Name" ng-model="name">
                </div>
                <div>
                    <input type="text" class="form-control" placeholder="Email" ng-model="email">
                </div>
                <div>
                    <input type="password" class="form-control" placeholder="Password" ng-model="password">
                </div>
                <button class="login" ng-click="signup(name, email, password)">signup <i class="fa fa-angle-right"></i></button>
            </form>
            <a class="login" href="/login">already a member? login <i class="fa fa-angle-right"></i></a>

        </div>
    </div>
</div>
