<div ng-controller="tracklistController">
    <table>
        <thead>
        <tr>
            <th ng-hide="tracklist.settings.showTrackNo == false"  width="100px">Track #</th>
            <th>Name</th>
            <th>length</th>
            <th>select all:</th>
            <th ng-hide="tracklist.settings.addToPlaylist==false"> <input type="checkbox" ng-click="toggleSelection(!allSelected); allSelected = !allSelected;"></th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="track in tracklist.tracks">
            <td ng-hide="tracklist.settings.showTrackNo == false" >{{track.trackNumber}}</td>
            <td>{{track.trackName}}</td>
            <td>{{track.time.format()}}</td>
            <td><i class="fa" ng-class="{'fa-pause' : track.audioObject.paused == false, 'fa-play-circle-o': track.audioObject.paused == true}" ng-click="toggleTrack(track)"></i> <span class='hide-on-mobile'>play</span></td>
            <td ng-hide="tracklist.settings.addToPlaylist == false"><input type="checkbox" ng-model="track.selected"></td>
        </tr>
        </tbody>
    </table>
    <button ng-hide="tracklist.settings.addToPlaylist == false" ng-click="addSelectedToPlaylist()">Add selected track(s) to playlist</button>

</div>