<div ng-controller="tracklistController" >
    <table>
        <thead>
        <tr>
            <th ng-hide="tracklist.settings.showTrackNo == false" width="100px">Track #</th>
            <th ng-hide="tracklist.settings.showName == false"> Name</th>
            <th ng-hide="tracklist.settings.showArtist == false">Artist</th>
            <th ng-hide="tracklist.settings.showAlbum == false">Album</th>
            <th ng-hide="tracklist.settings.showLength == false">Length</th>
            <th ng-hide="tracklist.settings.allowPlay == false"></th>
            <th ng-hide="tracklist.settings.allowAddToPlaylist==false"> <input type="checkbox" ng-click="toggleSelection(!allSelected); allSelected = !allSelected;"></th>
            <th ng-hide="tracklist.settings.allowDelete == false"> </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="track in tracklist.tracks">
            <td ng-hide="tracklist.settings.showTrackNo == false" >{{track.trackNumber}}</td>
            <td ng-hide="tracklist.settings.showName == false">{{track.trackName}}</td>
            <td ng-hide="tracklist.settings.showArtist == false"><a ui-sref="private.artist({artistId: track.artistId})">{{track.artistName}}</a></td>
            <td ng-hide="tracklist.settings.showAlbum == false"><a ui-sref="private.album({albumId: track.collectionId})">{{track.collectionName}}</a></td>
            <td ng-hide="tracklist.settings.showLength == false">{{track.time.format()}}</td>
            <td ng-hide="tracklist.settings.allowPlay == false">
                <i class="fa" ng-class="{'fa-pause' : track.audioObject.paused == false, 'fa-play-circle-o': track.audioObject.paused == true}" ng-click="toggleTrack(track)"></i> <span class='hide-on-mobile'>play</span></td>
            <td ng-hide="tracklist.settings.allowAddToPlaylist == false"><input type="checkbox" ng-model="track.selected"></td>
            <td ng-hide="tracklist.settings.allowDelete == false"><span class="clickable" ng-click="deleteTrack(track)"><i class="fa fa-remove"></i> <span class='hide-on-mobile'>remove</span></span></td>
        </tr>
        </tbody>
    </table>
    <button ng-hide="tracklist.settings.allowAddToPlaylist == false" ng-click="addSelectedToPlaylist()">Add selected track(s) to playlist</button>
    <button ng-hide="tracklist.settings.allowAddToPlaylist == false" ng-click="addAllToPlaylist()">Add All track(s) to playlist</button>

</div>